@use "./variables" as v;
@use "./mixin" as mx;
@use "./extend" as ex;

.section-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.has-vivid-red-color{
  color:rgb(192, 17, 17);
  font-weight: normal;
  font-size: 18px;
}

section{
  margin-top: 160px;
  @include mx.sp{
    margin-top: 60px;
  }
  &:first-of-type{
    margin-top: 100px;
    @include mx.sp{
      margin-top: 60px;
    }
    .section-header-container{
      padding-top: 0;
    }
  }
}

.sp {
  display: none;

  @include mx.sp {
    display: block !important;
  }
}

.pc {
  @include mx.sp {
    display: none !important;
  }
}

.center{
  text-align: center;
}

.green{
  color: v.$ene-green;
}

.space{
  margin-bottom: 16px;
}

.fold{
  white-space: nowrap;
}
