@use "./variables" as v;
@use "./mixin" as mx;
@use "./extend" as ex;

.section-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

section{
  margin-top: 160px;
  &:first-of-type{
    margin-top: 100px;
  }
}

.sp {
  display: none;

  @include mx.sp {
    display: block;
  }
}

.pc {
  @include mx.sp {
    display: none;
  }
}

.center{
  text-align: center;
}

.green{
  color: v.$ene-green;
}

.space{
  margin-bottom: 16px;
}

.fold{
  white-space: nowrap;
}
